.dashboard-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f0f0f0;
}
.sideBar-container{
    width: 21%;
    height: 100vh;
    background: rgb(30, 1, 58);
    color: white;
    padding: 1em;
}
.dashboard-content{
    width: 79%;
    height: 100vh;
}
.main-content{
    padding: 1em;
}
.header-bar{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 2px solid #e0e0e0;
}
.header-logo, .Auth, .sideBarLogoContainer{
    width: 50%;
    height: 8vh;
    display: flex;
    align-items: center;
}
.sideBarLogoContainer{
    width: 100%;
}
.H-logo{
    display: flex;
    align-items: center;

}
.H-logo img, .SBCapLogo img{
    width: 2em;
    margin: .5em;
}
.SBCapLogo{
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9E4CC7;
    border-radius: 10px;
    margin-right: 1em;
}
.HBicons{
    font-size: 1.4em;
    margin: .8em;
    cursor: pointer;
}
.SideBarIcon{
    cursor:e-resize;
}

.Auth{
    display: flex;
    flex-direction: row-reverse;
}
.userName-role{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.userName-role span, .sideBarLogoContainer span{
    display: block;
    margin: 0;
}
.HRole{
    color: #9E4CC7;
}
.profile-Pic{
    width: 2.2em;
    height: 2.2em;
    margin: .5em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    border-radius: 50%;
}

.SdiebarNavigation{
    margin-top: 2em;
}
.SdiebarNavigation p{
    color: #9c9c9c;
}
.SdiebarNavigation ul{
    padding: 0;
}
.SdiebarNavigation ul li{
    list-style: none;
    height: 2em;
    display: flex;
    align-items: center;
    margin: .7em 0;
}
.SdiebarNavigation ul li a{
    color: white;
}
.link{
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: .5em;
    height: 2.2em;
    border-radius: 8px;
}
.navigationIcon{
    margin-right: 1em;
    font-size: 1.4em;
}
.active{
    background: rgba(255, 255, 255, 0.2);
}
.DshHeader{
    margin-bottom: 1.5em;
}
.DshHeader h1{
    margin: 0;
    font-size: 1.7em;
}
.DshHeader span{
    margin: 0;
    font-size: 1em;
    color: #787480;
}
.statCard-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
.statCard, .leftDshbBox, .rightDshbBox{
    background-color: white;
    border: 2px solid #e0e0e0;
    padding: 1em;
    position: relative;
    border-radius: 8px;
}
.statCard{
    flex: 1;
}
/* .leftDshbBox, .rightDshbBox */
.statCard span{
    display: block;
}
.statCard > span:nth-child(1),
.statCard > span:nth-child(3){
    color: #a59cb3;
    font-size: .9em;
}
.statCard > span:nth-child(2){
    font-size: 1.6em;
}

.statCard-icon{
    position: absolute;
    top: 1em;
    right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d9b2ec;
    width: 2.3em;
    height: 2.3em;
    border-radius: 8px;
}
.statIcon{
    font-size: 1.4em;
    color: indigo;
}
.DashboardInformation{
    width: 100%;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.PProgress{
    width: 100%;
}
.ProgressPersent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}
.progressBar{
    width: 100%;
    height: .7em;
    background: #c8bddd;
    border-radius: 9px;
}
.progressBar div{
    width: 45%;
    height: .7em;
    background-color: #9E4CC7;
}
.PInformationTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.PInformationTitle span{
    background-color: #2166c1;
    padding: .7em;
    border-radius: 999px;
    color: white;
}